img {

 float: center; height: 500px; width: 500px;

}

h1 {
    border-bottom-style: inset;
    border-bottom-width: 3px;
    border-bottom-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: center;

}

h2 {
    font-size: 27px;

}

p {
    font-size: 25px;

}

#divTitulo {
    color: black;
    background-color:lightblue; 

}

body {
    background-color: white;

}

button:hover{
    background-color: coral;
    transition: 0.7s;

}

ul {
    font-size: 20px;
    
}